.mojaTabela{
    text-align: center;
    
}


.zaSLiku{
    width: 30%;
    margin-left: 20%;
}

#isprazni{
    color: #E21E30;
    outline: none;
    border: none;
    background-color: white;
    width: 150px;
    height: 50px;
}

#kupi{
    
    color: white;
    outline: none;
    border: none;
    background-color: #E21E30;
    width: 150px;
    height: 50px;
    
}

.kupovina{
    font-weight: 700;
    float: right;
}

.izbaciIzKorpe{
    background-color: white;
    border: none;
}